<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watchhfp.fix">

    <application
        android:allowBackup="false"
        android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="CarWith断开后自动恢复OPPO Watch X3 HFP通话；上车允许CarWith禁用HFP，保留车机通话"/>
        <meta-data
            android:name="xposedminversion"
            android:value="93"/>
        <meta-data
            android:name="xposedscope"
            android:value="com.android.bluetooth"/>
    </application>

</manifest>
